<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/layout">

<head>
    <script type="text/javascript" src="../../static/assets/epiceditor/js/epiceditor.min.js"
            data-th-src="@{/assets/epiceditor/js/epiceditor.min.js}"></script>
    <script type="text/javascript" src="../../static/assets/js/bootstrap-select.js"
            data-th-src="@{/assets/js/bootstrap-select.js}"></script>
    <title data-th-text="#{articles}">Page Title</title>
</head>

<body>

<div class="row" layout:fragment="content">
    <div class="col-md-12">
        <div id="create-article-dialog" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Title</h4>
                <div class="alert"></div>
            </div>
            <div class="modal-body">
                <div id="languageFormGroup" class="form-group">
                    <label data-th-text="#{language}">Language</label>
                    <select id="language" name="language" class="selectpicker" data-style="form-control" data-menu-style="">
                        <option data-th-each="locale: ${locales}"
                                data-th-attr="value=${locale.code}" data-th-text="${locale.name}"></option>
                    </select>
                </div>
                <div id="titleFormGroup" class="form-group">
                    <label data-th-text="#{title}">Title</label>
                    <input id="title" type="text" class="form-control" name="title" placeholder="Title" data-th-attr="placeholder=#{title}" />
                </div>
                <div id="textFormGroup" class="form-group">
                    <label data-th-text="#{body}">Body</label>
                    <div id="epiceditor"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary submit" data-th-text="#{apply}">Apply</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" data-th-text="#{close}">Close</button>
            </div>
        </div>
        <script data-th-inline="text">
        /*<![CDATA[*/
            $(function() {
                $("#li-articles").attr("class", "active");
            });

            var editor = new EpicEditor({
                basePath: '[[@{/assets/epiceditor}]]',
                clientSideStorage: false
            }).load();

            var $createArticleDialog = $('#create-article-dialog');

            var $alert = $('.alert').hide();

            // remove error messages that it's possible to be previously shown
            $('.form-group').removeClass('has-error');
            $('.help-block').empty();

            // default row value
            var row = {
                id: 0,
                language: '',
                title: '',
                body: ''
            };

            if ([[${article}]]) {
                row.id = article.id;
                row.language = article.language;
                row.title = article.title;
                row.body = article.body;
            }

            $createArticleDialog.data('id', row.id);
            $createArticleDialog.find('.modal-title').text(row.id ? '[[#{edit.article}]]' : '[[#{create.article}]]');
            for (var name in row) {
                $createArticleDialog.find('input[name="' + name + '"]').val(row[name]);
            }

            $createArticleDialog.find('.submit').click(function () {

                // gather input data
                row.language = $('#language').val();
                row.title = $('#title').val();
                row.body = editor.exportFile();

                // required by Spring Security
                var header = $("meta[name='_csrf_header']").attr("content");
                var token = $("meta[name='_csrf']").attr("content");

                $.ajax({
                    url: '/admin/article/',
                    type: $createArticleDialog.data('id') ? 'put' : 'post',
                    contentType: 'application/json',
                    data: JSON.stringify(row),
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success: function (result) {
                        $('.form-group').removeClass('has-error');
                        $('.help-block').empty();
                        showAlert($createArticleDialog.data('id') ? '[[#{item.updated}]]' : '[[#{item.created}]]', 'success');
                        // set the newly created article id to the row.id property
                        // so that if the user stays on the page and applies again
                        // to handle the request as an update
                        row.id = result;
                        $createArticleDialog.data('id', row.id);
                    },
                    error: function (result) {
                        $('.help-block').empty();
                        for (var i = 0; i < result.responseJSON.errorMessageList.length; i++) {
                            var errorMessage = result.responseJSON.errorMessageList[i];
                            var $formGroup = $('#' + errorMessage.fieldName + 'FormGroup');
                            $formGroup.addClass('has-error');
                            $formGroup.append('<span class="help-block">' + errorMessage.message + '</span>');
                        }
                    },
                    fail: function (result) {
                        showAlert($createArticleDialog.data('id') ? '[[#{item.not.updated}]]' : '[[#{item.not.created}]]', 'danger');
                    }
                });
            });

            function showAlert(title, type) {
                $alert.attr('class', 'alert alert-' + type || 'success')
                      .html('<div class="container"><i class="fa fa-check-square-o"></i> ' + title  + '</div>').show();
                setTimeout(function () {
                    $alert.hide();
                }, 1500);
            }

            // when language is changed, update title and body
            $('#language').change(function() {

                // switch to edit mode
                editor.edit();

                var articleInfo = {
                    id: row.id,
                    language: $(this).val()
                };

                // required by Spring Security
                var header = $("meta[name='_csrf_header']").attr("content");
                var token = $("meta[name='_csrf']").attr("content");

                $.ajax({
                    type: "put",
                    url: "/admin/article/language/",
                    contentType: 'application/json',
                    data: JSON.stringify(articleInfo),
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success: function(response) {
                        // display the retrieved text and body
                        $("#title").val(response.title);
                        editor.importFile('', response.body);
                    },
                    error: function() {
                        alert('Error');
                    }
                });
            });
        /*]]>*/
        </script>
    </div>
</div>

</body>

</html>