<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="_csrf" th:content="${_csrf.token}" />
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />

    <link rel="icon" type="image/png" href="../../static/assets/img/favicon.ico" data-th-href="@{/assets/img/favicon.ico}" />

    <link rel="stylesheet" type="text/css" href="../../static/assets/css/bootstrap.min.css" data-th-href="@{/assets/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" href="../../static/assets/css/gsdk.css" data-th-href="@{/assets/css/gsdk.css}" />
    <link rel="stylesheet" type="text/css" href="../../static/assets/css/light-bootstrap-dashboard.css" data-th-href="@{/assets/css/light-bootstrap-dashboard.css}" />

    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Grand+Hotel" />
    <link rel="stylesheet" type="text/css" href="../../static/assets/css/pe-icon-7-stroke.css" data-th-href="@{/assets/css/pe-icon-7-stroke.css}" />

    <script type="text/javascript" src="../../static/assets/js/jquery-1.11.2.min.js" data-th-src="@{/assets/js/jquery-1.11.2.min.js}"></script>
    <script type="text/javascript" src="../../static/assets/js/bootstrap.min.js" data-th-src="@{/assets/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="../../static/assets/js/light-bootstrap-dashboard.js" data-th-src="@{/assets/js/light-bootstrap-dashboard.js}"></script>

    <title layout:title-pattern="$DECORATOR_TITLE | $CONTENT_TITLE" data-th-text="#{admin}">Layout Page Title</title>

</head>

<body>

<div class="wrapper">
    <div class="sidebar" data-color="blue" data-image="../../static/assets/img/sidebar-5.jpg" th:attr="data-image=@{/assets/img/sidebar-5.jpg}">

        <!--
            Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
            Tip 2: you can also add an image using data-image tag
        -->

        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" data-th-href="@{/}" class="simple-text" th:text="#{home.site}">Site</a>
            </div>
            <ul class="nav">
                <li id="li-users">
                    <a href="#">
                        <i class="pe-7s-users"></i>
                        <p th:text="#{users}">Page</p>
                    </a>
                </li>
                <li id="li-roles">
                    <a href="#">
                        <i class="pe-7s-umbrella"></i>
                        <p th:text="#{roles}">Page</p>
                    </a>
                </li>
                <li id="li-articles">
                    <a href="#">
                        <i class="pe-7s-news-paper"></i>
                        <p th:text="#{articles}">Page</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" th:text="#{admin}">Title</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span th:text="#{language}">Language</span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li th:each="locale : ${locales}">
                                    <a href="#" th:href="'?lang=' + ${locale.code}">
                                        <img src="../../static/assets/img/flags/US.png" th:attr="src=${'/assets/img/flags/' + locale.country + '.png'}" />
                                        <span th:text="${locale.name}">English</span>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li th:each="locale : ${notAvailableLocales}">
                                    <a href="#" th:href="'?lang=' + ${locale.code}">
                                        <img src="../../static/assets/img/flags/US.png" th:attr="src=${'/assets/img/flags/' + locale.country + '.png'}" />
                                        <span th:text="${locale.name}">English</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <form th:action="@{/logout}" method="post"></form>
                            <a href="#" onclick="document.forms[0].submit();" th:text="#{logout}">Log Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <div class="row" layout:fragment="content"></div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#" data-th-href="@{/}" th:text="#{home.title}">Home</a>
                        </li>
                        <li>
                            <a href="#" data-th-href="@{/we-believe}" th:text="#{home.we.believe}">We Believe</a>
                        </li>
                        <li>
                            <a href="#" data-th-href="@{/you-are-invited}" th:text="#{page.you.are.invited.header}">You are Invited</a>
                        </li>
                        <li>
                            <a href="#" data-th-href="@{/contact-us}" th:text="#{home.contact}">Contact Us</a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">&copy; 2015 <a href="#" data-th-href="@{/}" th:text="#{home.site}">Site</a></p>
            </div>
        </footer>
    </div>
</div>

<div layout:fragment="modal"></div>
<div layout:fragment="delete-modal"></div>

<script layout:fragment="script"></script>

</body>

</html>