<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/layout">

<head>

    <link rel="stylesheet" type="text/css" href="../../static/assets/css/fresh-bootstrap-table.css" data-th-href="@{/assets/css/fresh-bootstrap-table.css}" />

    <script type="text/javascript" src="../../static/assets/js/bootstrap-table.js" data-th-src="@{/assets/js/bootstrap-table.js}"></script>
    <script type="text/javascript" src="../../static/assets/js/bootstrap-table-en-US.js" data-th-src="@{/assets/js/bootstrap-table-en-US.js}"></script>
    <script type="text/javascript" src="../../static/assets/js/bootstrap-table-ro-RO.js" data-th-src="@{/assets/js/bootstrap-table-ro-RO.js}"></script>

    <title data-th-text="#{users}">Page Title</title>

</head>

<body>

    <div class="row" layout:fragment="content">
        <div class="col-md-12">
            <div class="fresh-table full-color-blue">
                <!--
                    Available colors for the full background: full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange
                    Available colors only for the toolbar: toolbar-color-blue, toolbar-color-azure, toolbar-color-green, toolbar-color-red, toolbar-color-orange
                -->

                <p class="toolbar">
                    <a class="create btn btn-default" data-th-text="#{create.user}">Create Item</a>
                    <span class="alert"></span>
                </p>

                <table id="table"
                       data-show-refresh="true"
                       data-show-columns="true"
                       data-show-toggle="true"
                       data-search="true"
                       data-query-params="queryParams"
                       data-toolbar=".toolbar"
                       data-striped="true"
                       data-page-size="5"
                       data-page-list="[5,10,25,50,100,ALL]"
                       data-pagination="true">
                    <thead>
                    <tr>
                        <th data-field="id" data-sortable="true" data-th-text="#{id}">ID</th>
                        <th data-field="userName" data-sortable="true" data-th-text="#{user.name}">User Name</th>
                        <th data-field="firstName" data-sortable="true" data-th-text="#{first.name}">First Name</th>
                        <th data-field="lastName" data-sortable="true" data-th-text="#{last.name}">Last Name</th>
                        <th data-field="email" data-sortable="true" data-th-text="#{email}">Email</th>
                        <th data-field="enabled" data-formatter="checkboxFormatter" data-th-text="#{enabled}">Enabled</th>
                        <th data-field="action"
                            data-align="center"
                            data-formatter="actionFormatter"
                            data-events="actionEvents"
                            data-th-text="#{action}">Action</th>
                    </tr>
                    </thead>
                </table>

            </div>
        </div>
    </div>

    <div id="modal" class="modal fade" layout:fragment="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div id="userNameFormGroup" class="form-group">
                        <label data-th-text="#{user.name}">User Name</label>
                        <input type="text" class="form-control" name="userName" placeholder="User Name" data-th-attr="placeholder=#{user.name}" />
                    </div>
                    <div id="passwordFormGroup" class="form-group">
                        <label data-th-text="#{password}">Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Password" data-th-attr="placeholder=#{password}" />
                    </div>
                    <div id="firstNameFormGroup" class="form-group">
                        <label data-th-text="#{first.name}">First Name</label>
                        <input type="text" class="form-control" name="firstName" placeholder="First Name" data-th-attr="placeholder=#{first.name}" />
                    </div>
                    <div id="lastNameFormGroup" class="form-group">
                        <label data-th-text="#{last.name}">Last Name</label>
                        <input type="text" class="form-control" name="lastName" placeholder="Last Name" data-th-attr="placeholder=#{last.name}" />
                    </div>
                    <div id="emailFormGroup" class="form-group">
                        <label data-th-text="#{email}">Email</label>
                        <input type="text" class="form-control" name="email" placeholder="Email" data-th-attr="placeholder=#{email}" />
                    </div>
                    <div id="enabledFormGroup" class="form-group">
                        <label data-th-text="#{enabled}">Enabled</label>
                        <input type="checkbox" name="enabled" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary submit" data-th-text="#{apply}">Apply</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-th-text="#{close}">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="delete-modal" class="modal fade" layout:fragment="delete-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary submit" data-th-text="#{yes}">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-th-text="#{no}">No</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!--
        how to include Thymeleaf internationalization within JavaScript code
        http://blog.florentlim.com/how-to-write-javascript-including-thymeleaf/
    -->

    <!--
        how to access the locale associated with the current request
        http://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html#appendix-a-expression-basic-objects
    -->

    <script layout:fragment="script" data-th-inline="text">
    /*<![CDATA[*/
        $(function() {
            $("#li-users").attr("class", "active");
        });

        var API_URL = '/admin/user/list/json';

        var $table = $('#table').bootstrapTable({url: API_URL, locale: '[[${#locale}]]', icons: {
                            refresh: 'fa fa-refresh',
                            toggle: 'fa fa-th-list',
                            columns: 'fa fa-columns',
                            detailOpen: 'fa fa-plus-circle',
                            detailClose: 'fa fa-minus-circle'
                        }}),
            $modal = $('#modal').modal({show: false}),
            $alert = $('.alert').hide(),
            $deleteModal = $('#delete-modal').modal({show: false});

        $(function () {
            // create event
            $('.create').click(function () {
                showModal($(this).text());
            });

            $modal.find('.submit').click(function () {
                var row = {};

                $modal.find('input[name]').each(function () {
                    if ($(this).attr('name') == 'enabled') {
                        row[$(this).attr('name')] = $(this).is(':checked');
                    }
                    else {
                        row[$(this).attr('name')] = $(this).val();
                    }
                });

                // required by Spring Security
                var header = $("meta[name='_csrf_header']").attr("content");
                var token = $("meta[name='_csrf']").attr("content");

                $.ajax({
                    url: '/admin/user/' + ($modal.data('id') || ''),
                    type: $modal.data('id') ? 'put' : 'post',
                    contentType: 'application/json',
                    data: JSON.stringify(row),
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success: function (result) {
                        $('.form-group').removeClass('has-error');
                        $('.help-block').empty();
                        if (result.status == "SUCCESS") {
                            $modal.modal('hide');
                            $table.bootstrapTable('refresh');
                            showAlert($modal.data('id') ? '[[#{item.updated}]]' : '[[#{item.created}]]', 'success');
                        }
                        else if (result.status == "FAILURE") {
                            for (var i = 0; i < result.errorMessageList.length; i++) {
                                var errorMessage = result.errorMessageList[i];
                                var $formGroup = $('#' + errorMessage.fieldName + 'FormGroup');
                                $formGroup.addClass('has-error');
                                $formGroup.append('<span class="help-block">' + errorMessage.message + '</span>');
                            }
                        }
                    },
                    error: function () {
                        $modal.modal('hide');
                        showAlert($modal.data('id') ? '[[#{item.not.updated}]]' : '[[#{item.not.created}]]', 'danger');
                    },
                    fail: function() {
                        $modal.modal('hide');
                        showAlert($modal.data('id') ? '[[#{item.not.updated}]]' : '[[#{item.not.created}]]', 'danger');
                    }
                });
            });

            $deleteModal.find('.submit').click(function () {
                // required by Spring Security
                var header = $("meta[name='_csrf_header']").attr("content");
                var token = $("meta[name='_csrf']").attr("content");

                $.ajax({
                    url: '/admin/user/' + ($modal.data('id') || ''),
                    type: 'delete',
                    contentType: 'application/json',
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success: function () {
                        $deleteModal.modal('hide');
                        $table.bootstrapTable('refresh');
                        showAlert('[[#{item.deleted}]]', 'success');
                    },
                    error: function () {
                        $deleteModal.modal('hide');
                        showAlert('[[#{item.not.deleted}]]', 'danger');
                    }
                });
            });

        });

        function queryParams(params) {
            return {};
        }

        function actionFormatter(value) {
            return [
                '<a class="update" href="javascript:" title="[[#{edit}]]"><i class="fa fa-edit"></i></a>',
                '<a class="remove" href="javascript:" title="[[#{delete}]]"><i class="fa fa-remove"></i></a>',
                '<a class="roles" href="javascript:" title="[[#{roles}]]"><i class="fa fa-puzzle-piece"></i></a>',
            ].join('');
        }

        function checkboxFormatter(value) {
            return value ? '<i class="fa fa-check-square-o"></i>' : '<i class="fa fa-square-o"></i>';
        }

        // update and delete events
        window.actionEvents = {
            'click .update': function (e, value, row) {
                showModal($(this).attr('title'), row);
            },
            'click .remove': function (e, value, row) {
                showDeleteModal($(this).attr('title'), '[[#{confirm.delete}]]', row);
            },
            'click .roles': function (e, value, row) {
                window.location.href = '/admin/user/' + row.id + '/role/list';
            }
        };

        function showModal(title, row) {
            // remove error messages that it's possible to be previously shown
            $('.form-group').removeClass('has-error');
            $('.help-block').empty();

            row = row || {
                id: 0,
                userName: '',
                password: '',
                firstName: '',
                lastName: '',
                email: ''
            }; // default row value
            $modal.data('id', row.id);
            $modal.find('.modal-title').text(title);
            for (var name in row) {
                $modal.find('input[name="' + name + '"]').val(row[name]);
            }
            if (row['enabled'] == true) {
                $modal.find('input[name="enabled"]').attr('checked', true);
            }
            else {
                $modal.find('input[name="enabled"]').attr('checked', false);
            }
            $modal.modal('show');
        }

        function showAlert(title, type) {
            $alert.attr('class', 'alert alert-' + type || 'success')
                  .html('<i class="fa fa-check-square-o"></i> ' + title).show();
            setTimeout(function () {
                $alert.hide();
            }, 3000);
        }

        function showDeleteModal(title, text, row) {
            $deleteModal.data('id', row.id);
            $deleteModal.find('.modal-title').text(title);
            $deleteModal.find('.modal-body').text(text);
            $deleteModal.modal('show');
        }
    /*]]>*/
    </script>
</body>

</html>