<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/layout">

<head>

    <link rel="stylesheet" type="text/css" href="../../static/assets/css/fresh-bootstrap-table.css" data-th-href="@{/assets/css/fresh-bootstrap-table.css}" />

    <script type="text/javascript" src="../../static/assets/js/bootstrap-table.js" data-th-src="@{/assets/js/bootstrap-table.js}"></script>
    <script type="text/javascript" src="../../static/assets/js/bootstrap-table-en-US.js" data-th-src="@{/assets/js/bootstrap-table-en-US.js}"></script>
    <script type="text/javascript" src="../../static/assets/js/bootstrap-table-ro-RO.js" data-th-src="@{/assets/js/bootstrap-table-ro-RO.js}"></script>

    <title data-th-text="#{users}">Page Title</title>

</head>

<body>

    <div class="row" layout:fragment="content">
        <div class="col-md-12">
            <div class="fresh-table full-color-blue">
                <!--    Available colors for the full background: full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange
                        Available colors only for the toolbar: toolbar-color-blue, toolbar-color-azure, toolbar-color-green, toolbar-color-red, toolbar-color-orange
                -->

                <p class="toolbar">
                    <a class="create btn btn-default" data-th-text="#{create.user}">Create Item</a>
                    <span class="alert"></span>
                    <span data-th-text="${param.lang[0]}" data-th-unless="${param.lang == null}">Test</span>
                </p>

                <table id="table"
                       data-show-refresh="true"
                       data-show-columns="true"
                       data-show-toggle="true"
                       data-search="true"
                       data-query-params="queryParams"
                       data-toolbar=".toolbar"
                       data-striped="true"
                       data-page-size="5"
                       data-page-list="[5,10,25,50,100,ALL]"
                       data-pagination="true">
                    <thead>
                    <tr>
                        <th data-field="id" data-sortable="true" data-th-text="#{id}">ID</th>
                        <th data-field="userName" data-sortable="true" data-th-text="#{user.name}">User Name</th>
                        <th data-field="firstName" data-sortable="true" data-th-text="#{first.name}">First Name</th>
                        <th data-field="lastName" data-sortable="true" data-th-text="#{last.name}">Last Name</th>
                        <th data-field="email" data-sortable="true" data-th-text="#{email}">Email</th>
                        <th data-field="enabled" data-formatter="checkboxFormatter" data-th-text="#{enabled}">Enabled</th>
                        <th data-field="action"
                            data-align="center"
                            data-formatter="actionFormatter"
                            data-events="actionEvents"
                            data-th-text="#{action}">Action</th>
                    </tr>
                    </thead>
                </table>

            </div>
        </div>
    </div>

    <div id="modal" class="modal fade" layout:fragment="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>User Name</label>
                        <input type="text" class="form-control" name="userName" placeholder="User Name" />
                    </div>
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" name="firstName" placeholder="First Name" />
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" name="lastName" placeholder="Last Name" />
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" name="email" placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <label>Enabled</label>
                        <input type="checkbox" class="form-control" name="enabled" placeholder="Enabled" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary submit">Submit</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script layout:fragment="script">
        $(function() {
            $("#li-users").attr("class", "active");
        });

        var API_URL = '/admin/user/list/json';

        var $table = $('#table').bootstrapTable({url: API_URL, locale: 'ro-RO'}),
            $modal = $('#modal').modal({show: false}),
            $alert = $('.alert').hide();

        $(function () {
            // create event
            $('.create').click(function () {
                showModal($(this).text());
            });

            $modal.find('.submit').click(function () {
                var row = {};

                $modal.find('input[name]').each(function () {
                    if ($(this).attr('name') == 'enabled') {
                        row[$(this).attr('name')] = $(this).is(':checked');
                    }
                    else {
                        row[$(this).attr('name')] = $(this).val();
                    }
                });

                // required by Spring Security
                var header = $("meta[name='_csrf_header']").attr("content");
                var token = $("meta[name='_csrf']").attr("content");

                $.ajax({
                    url: '/admin/user/' + ($modal.data('id') || ''),
                    type: $modal.data('id') ? 'put' : 'post',
                    contentType: 'application/json',
                    data: JSON.stringify(row),
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success: function () {
                        $modal.modal('hide');
                        $table.bootstrapTable('refresh');
                        showAlert('The item was ' + ($modal.data('id') ? 'updated' : 'created'), 'success');
                    },
                    error: function () {
                        $modal.modal('hide');
                        showAlert('The item was not ' + ($modal.data('id') ? 'updated' : 'created'), 'danger');
                    }
                });
            });
        });


        function queryParams(params) {
            return {};
        }

        function actionFormatter(value) {
            return [
                '<a class="update" href="javascript:" title="Update Item"><i class="fa fa-edit"></i></a>',
                '<a class="remove" href="javascript:" title="Delete Item"><i class="fa fa-remove"></i></a>',
            ].join('');
        }

        function checkboxFormatter(value) {
            return value ? '<i class="fa fa-check-square-o"></i>' : '<i class="fa fa-square-o"></i>';
        }

        // update and delete events
        window.actionEvents = {
            'click .update': function (e, value, row) {
                showModal($(this).attr('title'), row);
            },
            'click .remove': function (e, value, row) {
                if (confirm('Are you sure to delete this item?')) {
                    $.ajax({
                        url: API_URL + row.id,
                        type: 'delete',
                        success: function () {
                            $table.bootstrapTable('refresh');
                            showAlert('Delete item successful!', 'success');
                        },
                        error: function () {
                            showAlert('Delete item error!', 'danger');
                        }
                    })
                }
            }
        };

        function showModal(title, row) {
            row = row || {
                id: 0,
                userName: '',
                firstName: '',
                lastName: '',
                email: ''
            }; // default row value
            $modal.data('id', row.id);
            $modal.find('.modal-title').text(title);
            for (var name in row) {
                $modal.find('input[name="' + name + '"]').val(row[name]);
            }
            if (row['enabled'] == true) {
                $modal.find('input[name="enabled"]').attr('checked', true);
            }
            else {
                $modal.find('input[name="enabled"]').attr('checked', false);
            }
            $modal.modal('show');
        }

        function showAlert(title, type) {
            $alert.attr('class', 'alert alert-' + type || 'success')
                  .html('<i class="glyphicon glyphicon-check"></i> ' + title).show();
            setTimeout(function () {
                $alert.hide();
            }, 3000);
        }
    </script>
</body>

</html>