<!doctype html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="../static/assets/img/favicon.ico" data-th-href="@{/assets/img/favicon.ico}" />
    <!-- for IE; IE=edge means IE should use the latest (edge) version of its rendering engine;
    chrome=1 means IE should use the Chrome rendering engine if installed -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" type="text/css" href="../static/assets/css/bootstrap.css" data-th-href="@{/assets/css/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" href="../static/assets/css/gsdk.css" data-th-href="@{/assets/css/gsdk.css}" />
    <link rel="stylesheet" type="text/css" href="../static/assets/css/examples.css" data-th-href="@{/assets/css/examples.css}" />
    <!-- fonts and icons -->
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Grand+Hotel" />
    <link rel="stylesheet" type="text/css" href="../static/assets/css/pe-icon-7-stroke.css" data-th-href="@{/assets/css/pe-icon-7-stroke.css}" />

    <script type="text/javascript" src="../static/assets/js/jquery-1.11.2.min.js" data-th-src="@{/assets/js/jquery-1.11.2.min.js}"></script>
    <script type="text/javascript" src="../static/assets/js/bootstrap.min.js" data-th-src="@{/assets/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="../static/assets/js/gsdk.js" data-th-src="@{/assets/js/gsdk.js}"></script>
    <script type="text/javascript" src="../static/assets/js/jquery-ui-1.10.4.custom.min.js" data-th-src="@{/assets/js/jquery-ui-1.10.4.custom.min.js}"></script>

    <script type="text/javascript" src="../../static/assets/epiceditor/js/epiceditor.min.js"
            data-th-src="@{/assets/epiceditor/js/epiceditor.min.js}"></script>

    <title th:text="#{site}">Site</title>

</head>

<body class="blog-page">

<div th:replace="common/header :: navigation-bar"></div>

<div class="wrapper">
    <div class="parallax filter-black">
        <div class="parallax-image">
            <img src="../static/assets/img/blog_page8.jpg" data-th-attr="src=@{/images/{id}/{fileName}(id=${article.id},fileName=${cover.fileName})}" />
        </div>
        <div class="small-info">
            <h1 th:text="${article.title}">Header 1</h1>
            <h4 style="font-family: 'Grand Hotel',cursive;font-size: 40px;" th:text="${article.motto}">Header 3</h4>
        </div>
    </div>
    <div class="section">
        <div id="epiceditor"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 bottom-border">
                    <!--<h1 class="title title-blog" th:text="${article.title}">Article Title</h1>-->
                    <div class="article-content"></div>
                </div>

                <div class="col-md-3 col-md-offset-1">
                    <div class="media media-author">
                        <p class="text-muted">
                            <span th:text="#{published.on}">Published on</span>
                            <span th:text="${article.formattedDate}">Date</span>
                        </p>
                    </div>
                    <div th:if="${social} != null" class="social-buttons">
                        <h3 class="title title-blog" th:text="#{shares}"></h3>
                        <a href="#" class="btn btn-social btn-round btn-fill btn-facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#"  class="btn btn-social btn-round btn-fill btn-twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#" class="btn btn-social btn-round btn-fill btn-google">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a href="#" class="btn btn-social btn-round btn-fill btn-pinterest">
                            <i class="fa fa-pinterest"></i>
                        </a>
                    </div>
                    <h3 th:if="${tags} != null" class="title title-blog" th:text="#{tags}">Tags</h3>
                    <span th:each="tag,iterator : ${tags}" class="label label-warning label-fill" th:text="${tag.text}">Tag</span>
                    <h3 th:if="${authors} != null" class="title title-blog" th:text="#{author}">Author</h3>
                    <div th:each="author,iterator : ${authors}" class="media media-author">
                        <a class="pull-left" href="#">
                            <div class="avatar">
                                <img class="media-object" src="../static/assets/img/default-avatar.png" data-th-attr="src=@{/assets/img/default-avatar.png}" alt="..." />
                            </div>
                        </a>
                        <div class="media-body">
                            <h6 class="media-heading" th:text="${author.firstName}">Name</h6>
                            <p class="text-muted" th:text="#{role}">Role</p>
                        </div>
                        <p th:if="${author.motto != null}" th:text="${author.motto}">Motto</p>
                        <button class="btn btn-round btn-info btn-sm" th:text="#{follow}">Follow</button>
                    </div>
                </div>
            </div>
        </div>
        <script data-th-inline="text">
            /*<![CDATA[*/
                $(function() {
                    var editor = new EpicEditor({
                        basePath: '[[@{/assets/epiceditor}]]',
                        clientSideStorage: false
                    }).load();
                    editor.importFile('', `[[${article.body}]]`);
                    $(".article-content").html(editor.exportFile('', 'html'));
                    $("#epiceditor").hide();

                    $('.article-content img').wrapAll('<div class="row"></div>');

                    $('.article-content img').wrap('<div class="col-md-12"></div>');

                    $('.article-content img').wrap('<div class="card card-plain"><div class="image"></div></div>');

                    $('.article-content img').attr('src', function(index, src) {
                        return '/images/[[${article.id}]]/' + src;
                    });
                });
            /*]]>*/
        </script>
    </div>
    <div th:replace="common/footer :: footer-area"></div>
</div>

</body>

<script type="text/javascript">
var big_image;
$().ready(function(){
    responsive = $(window).width();

    $(window).on('scroll', gsdk.checkScrollForTransparentNavbar);

    if (responsive >= 768) {
        big_image = $('.parallax-image').find('img');

        $(window).on('scroll',function(){
            parallax();
        });
    }

});

var parallax = function() {
    var current_scroll = $(this).scrollTop();

    oVal = ($(window).scrollTop() / 3);
    big_image.css('top',oVal);
};
</script>
</html>