<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="../static/assets/img/favicon.ico" data-th-href="@{/assets/img/favicon.ico}" />
    <!-- for IE; IE=edge means IE should use the latest (edge) version of its rendering engine;
    chrome=1 means IE should use the Chrome rendering engine if installed -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" type="text/css" href="../static/assets/css/bootstrap.css" data-th-href="@{/assets/css/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" href="../static/assets/css/gsdk.css" data-th-href="@{/assets/css/gsdk.css}" />
    <link rel="stylesheet" type="text/css" href="../static/assets/css/examples.css" data-th-href="@{/assets/css/examples.css}" />
    <!-- fonts and icons -->
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Grand+Hotel" />
    <link rel="stylesheet" type="text/css" href="../static/assets/css/pe-icon-7-stroke.css" data-th-href="@{/assets/css/pe-icon-7-stroke.css}" />

    <title th:text="#{site}">Site</title>
</head>
<body class="blog-page">

<div th:replace="common/header :: navigation-bar"></div>

<div class="wrapper">
    <div class="parallax filter-black">
        <div class="parallax-image">
            <img src="../static/assets/img/blog_page8.jpg" data-th-attr="src=@{/assets/img/blog_page8.jpg}" />
        </div>
        <div class="small-info">
            <h1 th:text="#{words.of.life}">Header 1</h1>
            <h3 th:text="#{awesome.articles}">Header 3</h3>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <h2 class="section-title" th:text="#{leave.us.a.message}">Header 2</h2>
            <div class="row">
                <div class="col-md-6">
                    <p th:text="#{contact.us.explanation}">
                        Paragraph
                        <br/>
                        <br/>
                    </p>
                    <form role="form" id="contact-form" method="post">
                        <div class="form-group">
                            <label for="name" th:text="#{your.name}">Label</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="Placeholder" data-th-attr="placeholder=#{first.name.and.last.name}" />
                        </div>
                        <div class="form-group">
                            <label for="email" th:text="#{email}">Label</label>
                            <input type="email" name="email" class="form-control" id="email" placeholder="Placeholder" data-th-attr="placeholder=#{email}" />
                        </div>
                        <div class="form-group">
                            <label for="phone" th:text="#{phone}">Label</label>
                            <input type="text" name="phone" class="form-control" id="phone" placeholder="Placeholder" data-th-attr="placeholder=#{phone}" />
                        </div>
                        <div class="form-group">
                            <label for="message" th:text="#{your.message}">Label</label>
                            <textarea name="message" class="form-control" id="message" rows="6" placeholder="Placeholder" data-th-attr="placeholder=#{leave.us.a.message}"></textarea>
                        </div>
                        <div class="submit">
                            <input type="submit" class="btn btn-info btn-fill" value="Button" data-th-attr="value=#{contact.us}" />
                        </div>
                    </form>
                </div>
                <div class="col-md-4 col-md-offset-2">
                    <div class="contact-info">
                        <h5>
                            <i class="fa fa-map-marker text-muted"></i>
                            <span th:text="#{address}">Span</span>
                        </h5>
                        <p class="text-muted">
                            <span th:text="#{owner.address}">Span</span>
                            <br/>
                            <span th:text="#{owner.city}">Span</span>
                            <br/>
                            <span th:text="#{owner.country}">Span</span>
                        </p>
                        <br/>
                        <h5>
                            <i class="fa fa-phone text-muted"></i>
                            <span th:text="#{contact.person}">Span</span>
                        </h5>
                        <p class="text-muted">
                            <span th:text="#{owner}">Span</span>
                            <br/>
                            <span th:text="#{owner.phone}">Span</span>
                            <br/>
                            <span th:text="#{working.hours}">Span</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- section -->
    <div class="space-50"></div>

    <div th:replace="common/footer :: footer-area"></div>

</div> <!-- wrapper -->

</body>

<script type="text/javascript" src="../static/assets/js/jquery-1.11.2.min.js" data-th-src="@{/assets/js/jquery-1.11.2.min.js}"></script>
<script type="text/javascript" src="../static/assets/js/bootstrap.min.js" data-th-src="@{/assets/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="../static/assets/js/get-shit-done.js" data-th-src="@{/assets/js/get-shit-done.js}"></script>
<script type="text/javascript" src="../static/assets/js/jquery-ui-1.10.4.custom.min.js" data-th-src="@{/assets/js/jquery-ui-1.10.4.custom.min.js}"></script>

<script type="text/javascript">
var big_image;
$().ready(function(){
    responsive = $(window).width();

    $(window).on('scroll', gsdk.checkScrollForTransparentNavbar);

    if (responsive >= 768){
        big_image = $('.parallax-image').find('img');

        $(window).on('scroll',function(){
            parallax();
        });
    }

});

var parallax = function() {
    var current_scroll = $(this).scrollTop();

    oVal = ($(window).scrollTop() / 3);
    big_image.css('top',oVal);
};
</script>

</html>