<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="../static/assets/img/favicon.ico" data-th-href="@{/assets/img/favicon.ico}" />
    <!-- for IE; IE=edge means IE should use the latest (edge) version of its rendering engine;
    chrome=1 means IE should use the Chrome rendering engine if installed -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <link href="../static/assets/css/bootstrap.css" rel="stylesheet" type="text/css" data-th-href="@{/assets/css/bootstrap.css}" />
    <link href="../static/assets/css/gsdk.css" rel="stylesheet" type="text/css" data-th-href="@{/assets/css/gsdk.css}" />

    <title th:text="#{home.title}">Home</title>
</head>
<body class="blog-page">

<div th:replace="common/header :: navigation-bar-test"></div>

<div class="wrapper">
    <div class="parallax filter-black">
        <div class="parallax-image">
            <img src="images/blog_page8.jpg" />
        </div>
        <div class="small-info">
            <h1>Creative Blog</h1>
            <h3>Find only the best stories from our famous writers.</h3>
        </div>
    </div>



    <div class="section">
        <div class="container">
            Hello
        </div> <!-- container -->
    </div> <!-- section -->

    <div th:replace="common/footer :: footer-area"></div>

</div> <!-- wrapper -->

</body>

<!--   Core JS Files   -->
<script type="text/javascript" src="../static/assets/js/jquery-1.10.2.js" data-th-src="@{/assets/js/jquery-1.10.2.js}"></script>
<script type="text/javascript" src="../static/assets/js/bootstrap.min.js" data-th-src="@{/assets/js/bootstrap.min.js}"></script>

</html>