<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="../static/assets/img/favicon.ico" data-th-href="@{/assets/img/favicon.ico}" />
    <!-- for IE; IE=edge means IE should use the latest (edge) version of its rendering engine;
    chrome=1 means IE should use the Chrome rendering engine if installed -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" type="text/css" href="../static/assets/css/bootstrap.css" data-th-href="@{/assets/css/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" href="../static/assets/css/gsdk.css" data-th-href="@{/assets/css/gsdk.css}" />
    <link rel="stylesheet" type="text/css" href="../static/assets/css/examples.css" data-th-href="@{/assets/css/examples.css}" />
    <!-- fonts and icons -->
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Grand+Hotel" />
    <link rel="stylesheet" type="text/css" href="../static/assets/css/pe-icon-7-stroke.css" data-th-href="@{/assets/css/pe-icon-7-stroke.css}" />

    <title th:text="#{site}">Site</title>
</head>
<body class="blog-page">

<div th:replace="common/header :: navigation-bar"></div>

<div class="wrapper">
    <div class="parallax filter-black">
        <div class="parallax-image">
            <img src="../static/assets/img/blog_page8.jpg" data-th-attr="src=@{/assets/img/blog_page8.jpg}" />
        </div>
        <div class="small-info">
            <h1 th:text="#{words.of.life}">Header 1</h1>
            <h3 th:text="#{awesome.articles}">Header 3</h3>
        </div>
    </div>
<!--
    <div class="social-line social-line-black">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-md-offset-3">
                    <a href="" class="btn btn-simple btn-social btn-neutral">
                        <i class="fa fa-facebook-square"></i> Share &middot; 753
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="" class="btn btn-simple btn-social btn-neutral">
                        <i class="fa fa-twitter"></i> Tweet &middot; 832
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="" class="btn btn-simple btn-social btn-neutral">
                        <i class="fa fa-google-plus-square"></i> Post &middot; 131
                    </a>
                </div>
            </div>
        </div>
    </div>
-->
    <div class="section">
        <div class="container">
            <h2 class="section-title" th:text="#{latest.stories}">Latest Stories</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-plain">
                        <div class="image">
                            <img src="../assets/img/examples/ecommerce.jpg" alt="..."/>
                            <div class="filter">
                                <button type="button" class="btn btn-neutral btn-simple">
                                    <i class="fa fa-bookmark-o"></i> Bookmark
                                </button>
                                <button type="button" class="btn btn-neutral btn-simple">
                                    <i class="fa fa-align-left"></i> Read article
                                </button>
                            </div>
                        </div>
                        <div class="content">
                            <p class="category text-info">
                                <i class="fa fa-trophy"></i> Best of
                            </p>
                            <a class="card-link" href="#">
                                <h4 class="title">Lorem ipsum dolor</h4>
                            </a>
                            <div class="footer">
                                <div class="author">
                                    <a class="card-link" href="#">
                                        <img src="../assets/img/faces/face-5.jpg" alt="..." class="avatar" />
                                        <span>Lorem</span>
                                    </a>
                                </div>
                                <div class="stats pull-right">
                                    <a class="card-link" href="#">
                                        <i class="fa fa-heart"></i> 92
                                    </a>
                                </div>
                                <div class="stats pull-right">
                                    <a class="card-link" href="#">
                                        <i class="fa fa-comment"></i> 41
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>

                <div class="col-md-8">
                    <div class="card card-plain">
                        <div class="image">
                            <img src="../assets/img/examples/blog_page.jpg" alt="..."/>
                            <div class="filter">
                                <button type="button" class="btn btn-neutral btn-simple">
                                    <i class="fa fa-bookmark-o"></i> Bookmark
                                </button>
                                <button type="button" class="btn btn-neutral btn-simple">
                                    <i class="fa fa-align-left"></i> Read article
                                </button>
                            </div>
                        </div>
                        <div class="content">
                            <p class="category text-danger">
                                <i class="fa fa-fire" rel="tooltip" title="Hot!"></i> Hot Story
                            </p>

                            <a class="card-link" href="#">
                                <h4 class="title">Lorem ipsum dolor</h4>
                            </a>
                            <div class="footer">
                                <div class="author">
                                    <a class="card-link" href="#">
                                        <img src="../assets/img/faces/face-7.jpg" alt="..." class="avatar" />
                                        <span>Lorem</span>
                                    </a>
                                </div>
                                <div class="stats pull-right">
                                    <a class="card-link" href="#">
                                        <i class="fa fa-heart"></i> 892
                                    </a>
                                </div>
                                <div class="stats pull-right">
                                    <a class="card-link" href="#">
                                        <i class="fa fa-comment"></i> 411
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>

                <div class="col-md-8">
                    <div class="card card-plain">
                        <div class="image">
                            <img src="../assets/img/examples/about_5.jpg" alt="..."/>
                            <div class="filter">
                                <button type="button" class="btn btn-neutral btn-simple">
                                    <i class="fa fa-bookmark-o"></i> Bookmark
                                </button>
                                <button type="button" class="btn btn-neutral btn-simple">
                                    <i class="fa fa-align-left"></i> Read article
                                </button>
                            </div>
                        </div>
                        <div class="content">
                            <p class="category">Creative</p>
                            <a class="card-link" href="#">
                                <h4 class="title">Lorem ipsum dolor</h4>
                            </a>
                            <div class="footer">
                                <div class="author">
                                    <a class="card-link" href="#">
                                        <img src="../assets/img/faces/face-6.jpg" alt="..." class="avatar" />
                                        <span>Lorem</span>
                                    </a>
                                </div>
                                <div class="stats pull-right">
                                    <i class="fa fa-clock-o"></i> 7 min read
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>

                <div class="col-md-4">
                    <div class="card card-plain">
                        <div class="image">
                            <img src="../assets/img/examples/about_1.jpg" alt="..."/>
                            <div class="filter">
                                <button type="button" class="btn btn-neutral btn-simple">
                                    <i class="fa fa-bookmark-o"></i> Bookmark
                                </button>
                                <button type="button" class="btn btn-neutral btn-simple">
                                    <i class="fa fa-align-left"></i> Read article
                                </button>
                            </div>
                        </div>
                        <div class="content">
                            <p class="category">News</p>
                            <a class="card-link" href="#">
                                <h4 class="title">Lorem ipsum dolor</h4>
                            </a>
                            <div class="footer">
                                <div class="author">
                                    <a class="card-link" href="#">
                                        <img src="../assets/img/faces/face-5.jpg" alt="..." class="avatar" />
                                        <span>Lorem</span>
                                    </a>
                                </div>
                                <div class="stats pull-right">
                                    <i class="fa fa-clock-o"></i> 17 min read
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>
            </div>
        </div>
    </div><!-- section -->


    <div class="section section-gray">
        <div class="container">
            <h2 class="section-title" th:text="#{best.of}">Best Of</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="image">
                            <img src="../assets/img/examples/about_2.jpg" alt="..."/>
                            <div class="filter filter-white">
                                <button type="button" class="btn btn-info btn-round btn-fill">
                                    <i class="fa fa-heart"></i> Bookmarked
                                </button>
                            </div>
                        </div>
                        <div class="content">
                            <p class="category">News</p>
                            <a class="card-link" href="#">
                                <h4 class="title">Lorem ipsum dolor</h4>
                            </a>
                            <div class="footer">
                                <div class="author">
                                    <a class="card-link" href="#">
                                        <img src="../assets/img/faces/face-5.jpg" alt="..." class="avatar" />
                                        <span>Lorem</span>
                                    </a>
                                </div>
                                <div class="stats pull-right">
                                    <i class="fa fa-clock-o"></i> 7 min read
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>

                <div class="col-md-8">
                    <div class="card">
                        <div class="image">
                            <img src="../assets/img/examples/blog_page2.jpg" alt="..."/>
                            <div class="filter filter-azure">
                                <button type="button" class="btn btn-neutral btn-round">
                                    <i class="fa fa-heart-o"></i> Bookmark
                                </button>
                            </div>
                        </div>
                        <div class="content">
                            <p class="category">Famous</p>
                            <a class="card-link" href="#">
                                <h4 class="title">Lorem ipsum dolor</h4>
                            </a>
                            <div class="footer">
                                <div class="author">
                                    <a class="card-link" href="#">
                                        <img src="../assets/img/faces/face-6.jpg" alt="..." class="avatar" />
                                        <span>Lorem</span>
                                    </a>
                                </div>
                                <div class="stats pull-right">
                                    <i class="fa fa-clock-o"></i> 7 min read
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="image">
                            <img src="../assets/img/examples/blog_page8.jpg" alt="..."/>
                            <div class="filter filter-white">
                                <button type="button" class="btn btn-info btn-round btn-fill">
                                    <i class="fa fa-heart"></i> Bookmarked
                                </button>
                            </div>
                        </div>
                        <div class="content">
                            <p class="category">News</p>
                            <a class="card-link" href="#">
                                <h4 class="title">Lorem ipsum dolor</h4>
                            </a>
                            <div class="footer">
                                <div class="author">
                                    <a class="card-link" href="#">
                                        <img src="../assets/img/faces/face-4.jpg" alt="..." class="avatar" />
                                        <span>Lorem</span>
                                    </a>
                                </div>
                                <div class="stats pull-right">
                                    <a class="card-link" href="#">
                                        <i class="fa fa-heart"></i> 92
                                    </a>
                                </div>
                                <div class="stats pull-right">
                                    <a class="card-link" href="#">
                                        <i class="fa fa-comment"></i> 41
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="image">
                            <img src="../assets/img/card-full-4.jpg" alt="..." />
                            <div class="filter filter-azure">
                                <button type="button" class="btn btn-neutral btn-round">
                                    <i class="fa fa-heart-o"></i> Bookmark
                                </button>
                            </div>
                        </div>
                        <div class="content">
                            <p class="category">Famous</p>
                            <a class="card-link" href="#">
                                <h4 class="title">Lorem ipsum dolor</h4>
                            </a>
                            <div class="footer">
                                <div class="author">
                                    <a class="card-link" href="#">
                                        <img src="../assets/img/faces/face-7.jpg" alt="..." class="avatar" />
                                        <span>Lorem</span>
                                    </a>
                                </div>
                                <div class="stats pull-right">
                                    <i class="fa fa-clock-o"></i> 7 min read
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="image">
                            <img src="../assets/img/examples/about_5.jpg" alt="..." />
                            <div class="filter filter-white">
                                <button type="button" class="btn btn-info btn-round btn-fill">
                                    <i class="fa fa-heart"></i> Bookmarked
                                </button>
                            </div>
                        </div>
                        <div class="content">
                            <p class="category">Famous</p>
                            <a class="card-link" href="#">
                                <h4 class="title">Lorem ipsum dolor</h4>
                            </a>
                            <div class="footer">
                                <div class="author">
                                    <a class="card-link" href="#">
                                        <img src="../assets/img/faces/face-6.jpg" alt="..." class="avatar" />
                                        <span>Lorem</span>
                                    </a>
                                </div>
                                <div class="stats pull-right">
                                    <i class="fa fa-clock-o"></i> 7 min read
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>
            </div>
        </div>
    </div><!-- section -->

    <div th:replace="common/footer :: footer-area"></div>

</div> <!-- wrapper -->

</body>

<script type="text/javascript" src="../static/assets/js/jquery-1.11.2.min.js" data-th-src="@{/assets/js/jquery-1.11.2.min.js}"></script>
<script type="text/javascript" src="../static/assets/js/bootstrap.min.js" data-th-src="@{/assets/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="../static/assets/js/get-shit-done.js" data-th-src="@{/assets/js/get-shit-done.js}"></script>
<script type="text/javascript" src="../static/assets/js/jquery-ui-1.10.4.custom.min.js" data-th-src="@{/assets/js/jquery-ui-1.10.4.custom.min.js}"></script>

<script type="text/javascript">
var big_image;
$().ready(function(){
    responsive = $(window).width();

    $(window).on('scroll', gsdk.checkScrollForTransparentNavbar);

    if (responsive >= 768){
        big_image = $('.parallax-image').find('img');

        $(window).on('scroll',function(){
            parallax();
        });
    }

});

var parallax = function() {
    var current_scroll = $(this).scrollTop();

    oVal = ($(window).scrollTop() / 3);
    big_image.css('top',oVal);
};
</script>

</html>