<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<div id="footer-area" th:fragment="footer-area">
    <footer class="footer footer-big footer-transparent">
        <div class="container">
            <div class="row">
            </div>
            <hr/>
            <div class="row">
                <div class="copyright">
                    &copy; 2015 <span th:text="#{home.author}">Author</span>
                </div>
            </div>
        </div>
    </footer>
</div>

</body>
</html>